<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <ion-grid class="header" [ngSwitch]="mode" no-padding>
          <ion-row justify-content-end class="operation">
            <ion-col align-self-end text-right>
              <button ion-button
                      icon-only
                      class="pos-rel"
                      clear
                      color="light"
                      (click)="goMessageList()">
                <ion-badge class="badge-number" color="danger">9</ion-badge>
                <ion-icon name="mail"></ion-icon>
              </button>
              <button ion-button
                      icon-only
                      clear
                      color="light"
                      (click)="goSettings()">
                <ion-icon name="settings"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row *ngSwitchCase="'authenticated'"
                   align-items-center
                   padding
                   class="authenticated pt-0">
            <ion-col class="avatar">
              <img [src]="info.avatar_url" alt="avatar">
            </ion-col>
            <ion-col class="name">
              <h4>{{info.loginname}}</h4>
              <p>积分：{{info.score}}</p>
            </ion-col>
            <ion-col text-right>
              <button ion-button icon-only clear color="light" (click)="goEdit()">
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row *ngSwitchCase="'unauthenticated'"
                   class="unauthenticated">
            <ion-col>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid class="body">
          <ion-row>
            <ion-col>
              <ion-list>
                <button ion-item (click)="goRecentTopic(info.recent_topics)">
                  <ion-icon item-start name="paw" color="danger"></ion-icon>
                  我的主题
                  <ion-badge item-right color="danger">15</ion-badge>
                </button>
                <button ion-item (click)="goRecentReply(info.recent_replies)">
                  <ion-icon item-start name="chatbubbles" color="secondary"></ion-icon>
                  回复的主题
                  <ion-badge item-right
                             *ngIf="info?.recent_replies.length"
                             color="danger">
                    {{info?.recent_replies.length}}
                  </ion-badge>
                </button>
                <button ion-item (click)="goMarket()">
                  <ion-icon item-start name="cart" color="warn"></ion-icon>
                  积分商城
                </button>
                <button ion-item (click)="goAbout()">
                  <ion-icon item-start name="information-circle" color="primary"></ion-icon>
                  关于
                  <ion-badge item-right color="danger">new</ion-badge>
                </button>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button color="danger" ion-button full (click)="logout()">
                退出登录
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
