$avatar-size: 80px;

:host {
  .header {
    background-color: var(--ion-color-primary);

    .operation {
      padding-top: 10px;

      .badge-number {
        position: absolute;
        right: 0;
        top: 2px;
        background-color: var(--ion-color-danger);
      }
    }

    .authenticated,
    .unauthenticated {
      img {
        width: $avatar-size;
        height: $avatar-size;
        background-color: var(--ion-color-light);
        border-radius: 50%;
      }
    }

    .authenticated {
      .name {
        color: var(--ion-color-light);

        p {
          margin: 0;
        }
      }
    }
  }
}
