// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

[text-ellipsis] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mt-8 {
  margin-top: 8px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}
